## Script de nettoyage du fichier assurance_data.csv

In [8]:
# Import des librairies
import numpy as np
import pandas as pd

In [9]:
# Création du dataframe
data = pd.read_csv("assurance_data.csv")
data.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [11]:
# Vérification des valeurs manquantes
data.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [12]:
# Suppression des doublons
data.drop_duplicates(inplace=True)
data.duplicated().unique()

array([False])

In [14]:
data.smoker.unique()

array(['yes', 'no'], dtype=object)

In [15]:
# conversion colonne 'smoker' en type boolean
data.smoker = data.smoker.map({'yes': True, 'no': False})
data.smoker = data.smoker.astype(bool)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   object
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   bool
 5   region    1337 non-null   object
 6   charges   1337 non-null   float64
dtypes: bool(1), float64(2), int64(2), object(2)
memory usage: 74.4+ KB

In [22]:
data['smoker'].value_counts()

smoker
False    1063
True      274
Name: count, dtype: int64

In [23]:
# conversion de data vers un csv
data.to_csv("assurance_dataset_clean.csv", index=False)