## Script de nettoyage du fichier csv

In [2]:
# Import des librairies
import numpy as np
import pandas as pd

In [10]:
# Cr√©ation du dataframe
data = pd.read_csv("assurance_data.csv")
data.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [11]:
sample = data.head(20)
sample

    age     sex     bmi  children smoker     region      charges
0    19  female  27.900         0    yes  southwest  16884.92400
1    18    male  33.770         1     no  southeast   1725.55230
2    28    male  33.000         3     no  southeast   4449.46200
3    33    male  22.705         0     no  northwest  21984.47061
4    32    male  28.880         0     no  northwest   3866.85520
5    31  female  25.740         0     no  southeast   3756.62160
6    46  female  33.440         1     no  southeast   8240.58960
7    37  female  27.740         3     no  northwest   7281.50560
8    37    male  29.830         2     no  northeast   6406.41070
9    60  female  25.840         0     no  northwest  28923.13692
10   25    male  26.220         0     no  northeast   2721.32080
11   62  female  26.290         0    yes  southeast  27808.72510
12   23    male  34.400         0     no  southwest   1826.84300
13   56  female  39.820         0     no  southeast  11090.71780
14   27    male  42.130         0    yes  southeast  39611.75770
15   19    male  24.600         1     no  southwest   1837.23700
16   52  female  30.780         1     no  northeast  10797.33620
17   23    male  23.845         0     no  northeast   2395.17155
18   56    male  40.300         0     no  southwest  10602.38500
19   30    male  35.300         0    yes  southwest  36837.46700

In [13]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       20 non-null     int64
 1   sex       20 non-null     object
 2   bmi       20 non-null     float64
 3   children  20 non-null     int64
 4   smoker    20 non-null     object
 5   region    20 non-null     object
 6   charges   20 non-null     float64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.2+ KB

In [ ]:
# transformer le boolean yes/no vers 1/0 et convertir les valeur en int
# sample['smoker'] = sample['smoker'].map({"yes":"1","no":"0"})
sample.loc[0,'smoker'] = "1"
sample

    age     sex     bmi  children smoker     region      charges
0    19  female  27.900         0      1  southwest  16884.92400
1    18    male  33.770         1      0  southeast   1725.55230
2    28    male  33.000         3      0  southeast   4449.46200
3    33    male  22.705         0      0  northwest  21984.47061
4    32    male  28.880         0      0  northwest   3866.85520
5    31  female  25.740         0      0  southeast   3756.62160
6    46  female  33.440         1      0  southeast   8240.58960
7    37  female  27.740         3      0  northwest   7281.50560
8    37    male  29.830         2      0  northeast   6406.41070
9    60  female  25.840         0      0  northwest  28923.13692
10   25    male  26.220         0      0  northeast   2721.32080
11   62  female  26.290         0      1  southeast  27808.72510
12   23    male  34.400         0      0  southwest   1826.84300
13   56  female  39.820         0      0  southeast  11090.71780
14   27    male  42.130         0      1  southeast  39611.75770
15   19    male  24.600         1      0  southwest   1837.23700
16   52  female  30.780         1      0  northeast  10797.33620
17   23    male  23.845         0      0  northeast   2395.17155
18   56    male  40.300         0      0  southwest  10602.38500
19   30    male  35.300         0      1  southwest  36837.46700

In [21]:
sample['smoker'] = sample['smoker'].astype(int)
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       20 non-null     int64
 1   sex       20 non-null     object
 2   bmi       20 non-null     float64
 3   children  20 non-null     int64
 4   smoker    20 non-null     int64
 5   region    20 non-null     object
 6   charges   20 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.2+ KB

C:\Users\nicol\AppData\Local\Temp\ipykernel_11748\602737774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['smoker'] = sample['smoker'].astype(int)